/*Heading
*/

body {
    background-image: url("https://i.pinimg.com/originals/fb/2f/9e/fb2f9e980965dc47768c6348375a3d72.jpg");
    background-position: cover;
   }

h1 {
    background-color: grey;
    width: 50%;
    margin: auto;
    text-align: center;
    color: maroon;
    border-radius: 25px;
    border-style:ridge
}

#question {
    width: 70%;
    padding: 20px;
    border: 3px solid green;
    background-color: darkolivegreen;
    font-size: 28px;
    font-style: italic;
    font-family: serif;
    margin: 10px auto;
    text-align: center;
    border-radius: 25px;

}

/*Answer
*/

#answer {
    width: 50%;
    margin: 10px auto;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    border-style:dashed
}

#answer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;

}

#answer ul li {
    width: 40%;
    height: 60px;
    background-color: orange;
    background: cover;
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    font-weight: bolder;
    border-radius: 25px;
    border-style: groove;

}

#answer ul li:hover {
    background-color: black;
}

/*Scoreboard
*/

#scores {
    display:flex;
    width: 70%;
    background-color: darkslategrey;
    justify-content: center;
    margin: 10px auto;
    border-radius: 25px;
    border-style:inset;
}

#player1, #player2 {
    width: 40%;
    background-color: chocolate;
    margin: 5px;
    text-align: center;
    border-style: groove;
}